body { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    padding-bottom: 20px;
}

a:hover {
    text-decoration: none;
}


/* Navigation */

nav {
    background-color: rgb(250, 250, 250);
    width: 90%;
    height: 80px;
    margin-top: 4vh;
    margin-left: 5%;
    border-radius: 10px;
    border-top: 2px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
    -webkit-box-shadow: 0 0 5px rgba(128, 128, 128, 0.3);
    -moz-box-shadow:  0 0 5px rgba(128, 128, 128, 0.3);
}

#logo {
    height: 50px;
    width: auto;
}

.nav-item {
    height: 78px;
    color: lightgrey!important;
    width: 12vw;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid rgb(233, 233, 233);
    -webkit-transition: background-color .2s, border-top .2s, color .2s;
}

.last-nav-item {
    border-right: 1px solid rgb(233, 233, 233);
}

.nav-item:hover {
    border-top: 2px solid darkorange;
    color: gold!important;
    -webkit-transition: background-color .2s, border-top .2s,color .2s;
}

.nav-icon {
    font-size: 2em;
    font-weight: normal; /* comment this line of code out if Font Awesome Icons are not displaying normaly. */
}

#dropdown-menu {
    position: relative;
    z-index: 1000;
    width: 12vw;
    height: auto;
    background-color: rgb(250, 250, 250);
    display: none;
    margin-left: -10px;
    margin-top: 10px;
    box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
    -webkit-box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
    -moz-box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-menu-item {
    width: 12vw;
    height: 40px;
    font-weight: normal;
    border-top: 1px solid rgb(233, 233, 233);
    text-align: center;
    padding-top: 5px;
    color:lightgrey;
    -webkit-transition: background-color .2s, border-top .2s;
}

.last-dropdown:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-menu-item:hover {
    border-top: 2px solid darkorange;
    color: gold!important;
    -webkit-transition: background-color .2s, border-top .2s, color .2s;
}

#dropdown-hover {
    height: 78px;
    color: lightgrey!important;
    width: 12vw;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid rgb(233, 233, 233);
}

#dropdown-hover:hover {
    border-top: 2px solid darkorange;
    color: gold!important;
    -webkit-transition: background-color .2s, border-top .2s,color .2s;
}

#dropdown-hover:hover #dropdown-menu {
    display: block;
}

#mobile-menu {
    display: none;
    margin-bottom: 3px;
}

.burger-item {
    height: 7px;
    width: 40px;
    background-color: lightgrey;
    margin-top: 6px;
    border-radius: 10px;
}

/* Navigation */

/* Mobile Navigation */

#mobile-nav {
   width: 90vw!important; 
   height: auto;
   background-color: rgb(250, 250, 250);
   margin-left: 5%;
   margin-top: 1%;
   border-radius: 10px;
   box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
   -webkit-box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
   -moz-box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
}

.mobile-menu-item {
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 5px;
    color:lightgrey!important;
}

.mobile-menu-item:hover {
    color: gold!important;
    -webkit-transition: color .2s;
}

#mobile-dropdown-menu {
    width: 20vw;
    height: auto;
    background-color: rgb(250, 250, 250);
    display: none;
    margin-left: 55%;
    box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
   -webkit-box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
   -moz-box-shadow: 2px 3px rgba(128, 128, 128, 0.1);
}

#mobile-dropdown-hover:hover #mobile-dropdown-menu {
    display: block;
}

.mobile-dropdown-menu-item {
    width: 12vw;
    height: 40px;
    font-weight: normal;
    text-align: center;
    padding-top: 5px;
    color:lightgrey;
    -webkit-transition: background-color .2s, border-top .2s;
}

.mobile-dropdown-menu-item:hover {
    color: gold!important;
    -webkit-transition: background-color .2s, color .2s;
}

.mobile-nav-icon {
    font-size: 1.5em;
    font-weight: normal; /* comment this line of code out if Font Awesome Icons are not displaying normaly. */
    padding-top: 5px;
}

/* Mobile Navigation */

/* Content Area */

.content-box {
    background-color: rgb(250, 250, 250);
    height: auto;
    border-radius: 10px;
    font-size: .8em;
    padding: 20px;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
    -moz-box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
}

#content-area {
    margin-top: 5%;
}

/* Content Area */

/* Content Boxes */

.content-small {
    height: 50px;
    width: auto;
    min-width: 150px!important;
    border-radius: 8px;
    margin-bottom: 5%;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
    -moz-box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
    -webkit-transition: box-shadow .2s, -wekbit-box-shadow .2s, -moz-box-shadow .2s;
}

.content-small:hover {
    box-shadow: 0 0 12px darkorange;
    -webkit-box-shadow: 0 0 12px darkorange;
    -moz-box-shadow: 0 0 12px darkorange;
    -webkit-transition: box-shadow .2s, -wekbit-box-shadow .2s, -moz-box-shadow .2s;
}

.avatar-pic {
    height: 50px;
    width: 50px;
    margin-left: -8%;
    float: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.av-name {
    text-align: center;
    padding-top: 11px;
}

.large-content-box {
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 35px 20px 20px 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
    -moz-box-shadow: 0 0 8px rgba(128, 128, 128, 0.6);
    -webkit-transition: box-shadow .2s, -wekbit-box-shadow .2s, -moz-box-shadow .2s;
}

.large-content-box:hover {
    box-shadow: 0 0 12px darkorange;
    -webkit-box-shadow: 0 0 12px darkorange;
    -moz-box-shadow: 0 0 12px darkorange;
    -webkit-transition: box-shadow .2s, -wekbit-box-shadow .2s, -moz-box-shadow .2s;
}

.comment-badge {
    text-align: center;
    background-color: darkorange;
    border-radius: 25px;
    width: 60px;
    margin-left: 40%;
    height: 40px;
    color: rgb(250, 250, 250);
    font-size: .8em;
    padding-top: 10px;
}

.large-content-p {
    font-size: .9em;
    color: rgb(24, 24, 24);
}

/* Content Boxes */


/* Media Queries */
@media only screen and (max-width: 991px) {
    #nav-max {
        display: none;
    }
    #mobile-menu {
        display: block;
    }
    #content-right {
        margin: 0;
        margin-top: 5%;
    }
    .avatar-pic {
        margin-left: -3.2%;
    }
}

@media only screen and (max-width: 512px) {
    .avatar-pic {
        margin-left: -4.4%;
    }
}

@media only screen and (min-width: 991px) {
    #mobile-nav {
        display: none;
    }
}
/* Media Queries */